<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div th:fragment="event"> 
   <div class="row">
            <div class="col-10  offset-1">
    
    <form th:method="post" id="form" th:action="@{/Admin/saveEvent}" th:object="${event}" 
          style="margin-top: 20px;  " enctype="multipart/form-data">
     
                 <lable CLASS="bg-light text-success text-center">ADD EVENT</lable>
                <div class="row ">
                    
                    <div class=" col-10 jumbotron  shadow text-white bg-dark"  >
                       
                        <div class="form-group ">
       
                          <label for="text">Event Name*</label>
                            <input type="text" class="form-control" th:field="*{eventName}" required="true">
 
                        </div>
                            <div class="form-group ">
                                <label for="inputAddress">Location(Town / AREA /)*</label>
                                <input type="text" class="form-control"  th:field="*{location}" required="true">
                            </div>
                         <div class="form-group ">
                                <label for="inputAddress">Venue*</label>
                                <input type="text" class="form-control"  th:field="*{venue}" required="true">
                            </div>
                            <div class="form-group ">
                                <label for="inputAddress">Start Date*</label>
                                <input type="date" class="form-control"  id="startDate" name="startDate" required="true">
                            </div>
                          <div class="form-group ">
                                <label for="inputAddress">End Date*</label>
                                <input type="date" class="form-control"  id="endDate"  name="endDate" required="true">
                            </div>
                      <div class="row">
                    <div class="col-4"> 
                        <input type="submit" class="btn  btn-primary" value="Save" id="upload_btn" th:onclick="spinOnload()" >

                     </div>
                         


                    <button  class="btn btn-primary d-none" id="loading_btn" type="button">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Uploading.................
                    </button>

                </div>   
                <button class="btn btn-secondary d-none" id="cancel_btn" type="button">Cancel Button</button>

            </div>
                   
           </div>  

         



    </form>
</div>   </div>   
<script th:src="@{/javascript/datatables.js}" type="text/javascript"></script>
<script th:src="@{/javascript/ProgressDialog_1.js}" type="text/javascript"></script>
<script th:src="@{/javascript/bootstrap.min.js}" type="text/javascript"></script>

</div>
